/***********************************/
/*************공통 적용*************/
/***********************************/
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Myeongjo:wght@800&display=swap');
* {
    margin: 0 ;
    padding: 0;
    font-family: 'Gowun Dodum', sans-serif;
    color: black;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
html, body {
	width: 100%;
}

/************************* 반응형 ************************/
/* 화면이 970px 이상일 때 */
@media (min-width: 970px) { 
    .nav_hidden {
        display: none !important;
    }
}
/* 화면이 970px 이하일 때 */
@media (max-width: 970px) {
    .nav_bar {
        display: flex;
        justify-content: space-between !important;
    }
    .nav_bar ul{
        display: none;
    }
    .nav_bar .fa-bars {
        display: block !important;
        margin-right: 50px;
        font-size: 40px;
        color: white !important; 
    }
    .nav_bar .fa-bars:hover {
        color: orangered !important;
    }
    .pop_content {
        width:90% !important; 
    }
    .nav_login {
        margin:20px 0 !important;
    }
    .nav_login li {
        padding: 0 10px 0 !important;
    }
}
/* 화면이 665px 이하일 때 */
@media (max-width: 665px) {
    .nav_menu {
        display: flex;
        flex-direction: column;
    }
}

/*********************** index nav_bar 영역 **********************/
/* nav_bar */
.nav_bar {
    background-color: #263343;
    padding: 25px 0 12px 0 ;
    position: absolute;
    width: 100%;
}
.nav_bar .nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 970px;    
    margin: 0 auto;
}
.nav_bar a {
    color: white;
}
.nav_bar i {
    color: orangered;
}   
.nav_bar .fa-bars {
    display: none;
}

/* nav_bar 로고 */
.nav_logo {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 40px;
    margin-left: 35px;
}
/* nav_bar 메뉴 */
.nav_menu {
    font-size: 20px;
    display: flex;
    margin: 0 40px 0 40px;
    justify-content: space-around;
}
.nav_menu li {
    padding: 8px 10px;
}
.nav_menu li a:hover {
    color:orangered;
    border-bottom: 2px orangered solid;
}
/* nav_bar 로그인&회원가입 */
.nav_login {
    display: flex;
    margin-right: 35px;
    justify-content: center;
}
.nav_login li {
    font-size: 15px;
    padding: 0px 8px 50px;
}
.nav_login a:hover {
    color : orangered;
    border-bottom: 2px solid orangered;
}

/*********************** index nav_bar 숨김영역 **********************/
.nav_hidden{
    display: none;
    position: absolute;
    width: 100%;
    top: 85px;
    background-color: #000000;
    text-align: center;
    padding-top: 15px;
}
.nav_hidden a{
    color: white;
}

/*********************** index nav_bar 배경 **********************/
#background_img {
    width: 100%;
    height: 500px;
    background-image: url("media/background6.jpg");
    background-size: cover;
    background-position: center;
}

/*********************** index main 영역 **********************/
.main {
    display: flex;
    justify-content: center;
    width: 100%;
}
#main_content {
    width: 1000px;
    margin: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*********************** index main 간편조회 영역 **********************/
#reservation {
    padding: 20px;
    text-align: center;
    border: 3px solid #7fbbbd;
    border-radius: 19px;
    margin: 10px;
}
/* 간편조회의 날짜선택 영역 */
.reservation_date {
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 20px;
}
.reservation_date input[type=date] {
    width: 130px;
    font-size: 18px;
    border: none;
}

/* 간편조회의 시간선택 영역 */
.reservation_time {
    border: 1px solid lightgray;
    padding: 10px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.reservation_time input[type=time] {
    width: 130px;
    font-size: 18px;
    border: none;
}

/* 간편조회의 차종선택과 지역선택 영역 */
.reservation_car {
    clear: both;
    border: 1px solid lightgray;
    padding: 0 15px;
}
.reservation_loc {
    clear: both;
    border: 1px solid lightgray;
    padding: 0 15px;
    margin-top: 20px;
}
.reservation_type {
    width: 100%;
    font-size: 18px;
    border: none;
    height: 45px;
}

/* 간편조회의 조회버튼 영역 */
.reservation_submit {
    width: 304px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    margin-top: 15px;
    background-color: #7fbbbd;
    border: none;
    border-radius: 10px;
}

/*********************** index main 인기차종 영역 **********************/
#recommend {
    padding: 20px;
    text-align: center;
    margin: 10px;
    border: 3px solid #7fbbbd;
    border-radius: 19px;
}

/* 차량에 마우스 오버시 나타는 삼각형과 + 모양 영역 */
.recommend_car .plus   {
    position: absolute;
    border-bottom: 33px solid transparent;
    border-top: 33px solid #7fbbbd;
    border-left: 33px solid #7fbbbd;
    border-right: 33px solid transparent;
    opacity: 0;
    transition: 0.5s;
}
.recommend_car .plusi{
    position: absolute;
    float: left;
    font-size: xx-large;
    margin-left: 3px;
    opacity: 0;
    transition: 0.5s;
}

/* 차량 이미지와 그 아래의 간단한 사양 영역*/
.recommend_car img{
    height: 205px;
}
.recommend_info i{
    font-size: 15px;
    margin: 15px;
    line-height: 20px;
}
.recommend_info i:nth-child(1){
    color: green;
}
.recommend_info i:nth-child(2){
    color: red;
}
.recommend_info i:nth-child(3){
    color: blue;
}
.recommend_info i:nth-child(4){
    color: black;
}
.recommend_info span{
    font-size: 13px;
    color: black;
    margin: 5px;
}

/* 하단의 버튼들 */
.recommend_button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.recommend_btn {
    background: none;
    width: 30px;
    height: 10px;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 5px;
}
.recommend_pause {
    width: 30px;
    font-size: 20px;
    border: none;
    background: none;
}
.recommend_pause .fa-play {
    display: none;
}

/*********************** index main 추천여행지 영역 **********************/
#recommend2 {
    padding: 20px;
    text-align: center;
    margin: 10px;
    border: 3px solid #7fbbbd;
    border-radius: 19px;
}
.recommend_tour_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.recommend_tour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 추천 여행지의 이미지 영역*/
.recommend_tour img {
    width: 250px;
    height: 300px;
    margin: 20px 8px;
    /* padding: 30px 9px 15px; */
    transition: all 0.2s linear;
}
.recommend_tour img:hover {
    transform: scale(1.1);
}

/* 추천 여행지의 간단 설명 영역 */
.recommend_tour p {
    width: 250px;
    margin-top: 9px;
    font-size: 14px;
}

/* 추천 여행지의 more 영역 */
.recommend_tour a {
    margin-top: 15px;
    border-top: 2px solid gray;
}
.recommend_tour a:hover {
    color: orangered;
    border-top: 2px solid orangered;
}

/*********************** index main 추천여행지 팝업 영역 **********************/
/* dimmed 처리(배경) */
.popup_base {
    position:absolute; 
    left:0; 
    top:0; 
    width:100%; 
    height:100%; 
    background: #00000080; 
    display:none;
}

/* 내용이 담기는 틀 */
.pop_content {
    position:relative; 
    width:50%; 
    margin:200px auto 0; 
    box-sizing:border-box; 
    background:white;
    text-align: center;
    padding: 40px 25px 25px;
}

/* x(닫기) 버튼 */
.pop_btn {
    position:absolute; 
    right: 10px; 
    top:-55px; 
    text-align: center;
    font-size: 50px;
}
.pop_btn a i {
    color: white
}

/* 팝업창의 이미지 */
.pop_img {
    display: flex;
    justify-content: center;
}
.pop_img img {
    width: 90%;
    display: none;
}
.pop_img button {
    width: 30px;
    border: none;
    background: none;
    font-size: 30px;
}
.pop_img button i:hover {
    color: orangered;
}
/* 상세 설명 */
.pop_content p {
    width: 90%;
    text-align: left;
    margin: 0 auto;
    font-size: 15px;
}

/*********************** index footer 영역 **********************/
.footer {
    height: 100px;
    background-color: #263343;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-end;
    margin-top: 70px;
    position: relative;
bottom: 0;
}
.footer div {
    color: white;
    margin-right: 25px;
}

/**************************** login 로그인 영역 ***************************/
.login {
    margin-bottom: 130px;
}
.login p {
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
}
/* form 틀 */
#login_box {
    width: 380px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    border: 3px solid #7fbbbd;
    border-radius: 19px;
    padding: 20px;
}

/* id와 pw입력 부분 */
#login_idpw input {
    width: 200px;
    height: 40px;
    font-size: 15px;
    padding-left: 8px;
    margin-top: 20px;
}
#login_idpw input:focus {
    box-shadow: 0px 0px 20px skyblue;
}

/* 로그인 버튼 부분 */
#login_submit input {
    width: 210px;
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
    background: #7fbbbd;
    border-radius: 5px;
    border: none;
}
#login_submit input:hover{
    background-color: #263343;
    color: white;
}

/* 자동 로그인과 id/pw찾기 부분  */
#login_serve {
    width: 210px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

/* 간편 로그인 부분 */
#login_easy i{
    font-size: 20px;
    line-height: 40px;
    color: white;
}
#login_easy div{
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    margin: 10px auto;
    color: white;
    text-align: left;
    padding-left: 15px;
    border-radius: 5px;
}
#login_google{
    background-color: rgba(234, 65, 52, 0.9);
}
#login_naver {
    background-color: rgba(4, 199, 90, 0.9);
}
#login_kakao {
    background-color: rgba(244, 230, 1, 0.9);
    color: black !important;
}
#login_kakao i{
    color: black;
}

/* ------------------------회원가입 영역 join.html------------------------ */
/* 화면이 670px 이하일 때  */
@media (max-width : 670px ) {
    .sign_box li {
        display: block !important;
        padding: 15px 0 !important;
        text-align: left;
    }    
}

.sign {
    max-width: 750px;
    margin: 0 auto;
}
.sign p {
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
}

/* 필수사항 부분 */
.sign h4 {
    color: red;
    text-align: left;
    padding: 10px;
}
.red {
    color: red;
}

/* form 부분 */
.sign_box {
    text-align: center;
}
.sign_box ul{
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}
.sign_box li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    padding: 15px 25px;
    border-bottom: 1px solid lightgray;
}

/* 입력사항 부분 */
.enter_box {
    width: 130px;
    text-align: left;
    margin-bottom: 5px;
}

/* 입력해야 하는 부분 */
.sign_box .txt {
    width: 130px;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
}

/* 성별 체크 박스 */
.sign_box .check {
    width: 20px;
    height: 20px;
    vertical-align:bottom;
    margin-left: 5px;
}

/* 메일주소 선택 박스 */
.sign_box .select {
    width: 130px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 15px;
}

/* 중복확인과 인증번호 버튼 */
.sign_box .btn {
    width: 110px;
    height: 30px;
    font-size: 15px;
    background-color: #7fbbbd;
    border-radius: 5px;
    border: none;
    margin-left: 15px;
}
.sign_box .btn:hover{
    background-color: #263343;
    color: white;
}

.sign_box #timer {
    margin: 10px;
    color: red;
}

/* 가입완료 버튼 */
.sign_box  .submit {
    width: 110px;
    height: 40px;
    font-size: 20px;
    background-color: #7fbbbd;
    border-radius: 5px;
    border: none;
    margin: 25px auto;
}
.sign_box  .submit:hover{
    background-color: #263343;
    color: white;
}

/* ------------------------게시판 영역 board_main.html------------------------ */
/* 화면이 1057px 이하일 때 */
@media (max-width:1057px) {
    #board_main h3 {
    margin-top: 20px !important;
    margin-bottom: 15px !important;
    }
    .board_aside {
        width: auto !important;
        margin: 0 !important;
    }
    .aside_ul {
        width: 389px !important;
        display: flex;
        flex-direction: row !important;
        justify-content: center;
    }
    .aside_li {
        border-right: 1px solid lightgray;
        border-bottom: none !important;
    }
    .aside_li:first-child {
        border-left: 3px solid gray;
        border-top: none !important;
    }
    .aside_li:last-child {
        border-right: 3px solid gray;
    }
}
/* 게시판 틀 및 타이틀 부분 */
#board_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#board_main h3 {      
    font-size: 25px;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 15px;
    border-bottom: 5px solid #263343;
}

/* 게시판 왼쪽영역 */
.board_aside {
    width: 200px;
    text-align: center;
    margin-right: 40px;
}
.aside_ul {
    width: 160px;
    flex-direction: column;
    margin: 0 auto;
}
.aside_li {
    font-size: 18px;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}
.aside_li input {
    display: none;
}
.aside_li:first-child {
    border-top: 3px solid gray;
}
.aside_li:last-child {
    border-bottom: 3px solid gray;
}
/* 소항목에 마우스 오버시 */
.aside_li label:hover {
    border-bottom: 2px orangered solid;
    color: orangered;
}


/* 게시판 메인영역(문의하기) */
#board_inquiry {
    min-height: 690px;
}
#board_inquiry table {
    font-size: 16px;
    border-collapse: collapse;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}
#board_inquiry .thead {
    background-color: #26334320;
}
#board_inquiry .row {
    border-bottom: 1px solid lightgray;
}
#board_inquiry .col1 {
    width: 100px;
    height: 50px;
    text-align: center;
}
#board_inquiry .col2 {
    width: 350px;
    height: 50px;
    padding-left: 30px;
}
#board_inquiry .col3 {
    width: 100px;
    height: 50px;
    text-align: center;
}
#board_inquiry .col4 {
    width: 150px;
    height: 50px;
    text-align: center;
}

/* 게시판 메인영역(공지사항) */
#board_notice {
    min-height: 690px;
}
#board_notice table {
    font-size: 16px;
    border-collapse: collapse;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}
#board_notice .thead {
    background-color: #26334320;
}
#board_notice .row {
    border-bottom: 1px solid lightgray;
}
#board_notice .col1 {
    width: 100px;
    height: 50px;
    text-align: center;
}
#board_notice .col2 {
    width: 350px;
    height: 50px;
    padding-left: 30px;
}
#board_notice .col3 {
    width: 100px;
    height: 50px;
    text-align: center;
}
#board_notice .col4 {
    width: 150px;
    height: 50px;
    text-align: center;
}

/* 게시판 메인영역(자주묻는 질문) */
#board_QA {
    width: 730px;
    min-height: 690px;
}
#board_QA span{
    color: rgb(0, 95, 171);
    font-size: 45px;
    line-height: 59px;
    font-weight: 900;
}
#board_QA .panel span{
    color: gray;
}
#board_QA .flip,.panel {
    margin-top: 20px;
    font-size: 20px;
    border-bottom: 1px solid;
    color: rgb(0, 95, 171);
}
#board_QA .panel {
    display: none;
    margin: 0;
    padding-left: 40px;
    border: none;
    color: gray;
}

/* 모든 게시판에서 페이지 이동 
    공용으로 사용 */
.page_move {
    display: flex;
    justify-content: center;
}
.number {
    width: 250px;
    font-size: 17px;
    margin-top: 20px;
    position: absolute;
}
/* 글쓰기, 목록으로, 수정하기 버튼을 
    공용으로 사용 */
.write_list_modify {
    float: right;
    font-size: 15px;
    width: 80px;
    border: none;
    border-radius: 10px;
    background-color: #7fbbbd;
    padding: 5px;
    margin-top: 10px;
    margin-right: 20px;
}
.write_list_modify:hover {
    background-color: #263343;
    color: white;
}


/* ------------------------게시판 영역 board_read.html------------------------ */

#read_inquiry {
    width: 700px;
    min-height: 690px;
}
#read_inquiry table {
    width: 100%;
    border-collapse: collapse;
    border-top: 3px solid gray;
}
#read_inquiry table td {
    border-bottom: 1px solid lightgrey;
    padding: 15px;
}
.title {
    font-size: 20px;
}
.content {
    height: 250px;
    border-bottom: 3px solid gray;
}

/* ------------------------게시판 영역 board_write.html------------------------ */
#write_inquiry {
    width: 700px;
    min-height: 690px;
}
.write_box ul {
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}
.write_box li {
    border-bottom: 1px solid lightgray;
    font-size: 22px;
    font-weight: 900;
    padding: 8px
}
.write_box li input {
    width: 100%;
    border: none;
    height: 30px;
    font-size: 17px;
    padding-left: 10px;
}
.write_box li textarea {
    width: 100%;
    border: none;
    font-size: 17px;
    resize: none;
    padding-left: 10px;
}

/* ------------------------찾아오시는 길 영역 location.html------------------------ */
#board_location {
    width: 730px;
}
#map_info {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#map_info button{
    width: 200px;
    height: 80px;
    font-size: 20px;
    background-color: rgba(244, 230, 1, 0.9);
    border: none;
    border-radius: 10px;
    margin: 20px;
}
#map_info tr {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
#map_info td {
    border-radius: 10px;
    padding: 10px;
    background-color: #00000010;
}
#map_info tr td:first-child {
    text-align: center;
    background-color: #00000050;
}

