* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "맑은 고딕", "돋움";
    font-size: 12px;
    color: #444444;
}
ul {
    list-style: none;
}
.clear {
    clear: both;
}
main {
    width: 980px;
    margin: 0 auto;
}
main {
    border-bottom: 3px solid #1cbdb8;
    padding-bottom: 30px;
    padding-top: 30px;
}

/* aside */
aside, .col1, section h3 {
    float: left;
}

aside .col1{
    font-size: 15px;
    margin: 10px;
}
aside .col2 {
    float: right;
    font-size: 15px;
    margin: 10px;
} 
aside ul {
    margin-top: 15px;
    margin-bottom: 35px;
}
aside ul li {
    width: 168PX;
    height: 45px;
    border-bottom: 1px solid lightgrey;
}
aside ul li:hover {
    background: #1cbdb8;
    color: white;
}
aside .selected {
    border-top: 3px solid gray;
    background: #1cbdb8;
    color: white;
}
aside .end {
    border-bottom: 3px solid gray;
}

/* section */
section {
    display: inline-flex;
    flex-direction: column;
    margin-left: 50px ;
}
section .product {
    border-top: 3px solid #1cbdb8;
    margin-top: 20px;
    padding-top: 10px;
    line-height: 190%;
}
section h3 {
    margin-bottom: 10px;
}
section #sub_img img {
    margin-top: 5px;
    width: 750px;
    height: 200px;
    border: 3px solid #1cbdb8;
}
section .product h3 {
    font-weight: bold;
    margin-right: 15px;
}
section .btns img {  
    width: 60px;
    height: 18px;
}
section .product ul {
    margin-left: 10px;
}

/* top */
top .top_1 {
    display: flex;
    border-bottom: 1px solid lightgrey;
    padding: 20px;
}
top .logo_text {
    padding: 50px 0 20px 20px;
    color: gray;
}
top .menu {
    font-weight: bold;
    padding-bottom: 20px;
    align-self: flex-end;
    margin-left: auto;
}
top ul {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
}
top ul li {
    font-size: 18px;
    font-weight:bold;
    color: #1cbdb8;
    border-bottom: 5px solid #1cbdb8;
    width: 150PX;
    height: 40px;
}
top ul li:hover {
    background-color: #1cbdb8;
    color: white;
}

/* footer */
footer {
    width: 980px;
    margin: 25px auto;
    display: flex;
}
footer .footer_1 {
    color: gray;    
}
footer .footer_2 {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
footer .service {
    font-weight: bold;
    font-size: 25px;
    color: #1cbdb8;
}
