<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	
	<div class="container-sm" style="max-width:600px">
		<div class="text-center my-5">
			<h1>상품 등록 폼</h1>
		</div>
		<form th:action method="post">
			<div class="row my-2">		
				<div class="col-2">
					<label for="itemName" class="form-label fw-bold">상품명</label>
				</div>
				<div class="col">
					<input type="text" id="itemName" class="form-control" name="itemName" placeholder="이름을 입력하세요" required="required">
				</div>
			</div>
			<div class="row my-2">		
				<div class="col-2">
					<label for="price" class="form-label fw-bold">가격</label>
				</div>
				<div class="col">
					<input type="number" id="price" class="form-control" name="price" placeholder="가격을 입력하세요" required="required">
				</div>
			</div>
			<div class="row my-2">		
				<div class="col-2">
					<label for="quantity" class="form-label fw-bold">수량</label>
				</div>
				<div class="col">
					<input type="number" id="quantity" class="form-control" name="quantity" placeholder="수량을 입력하세요" required="required">
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="d-grid gap-2 col">
					<button type="button" class="btn btn-outline-dark btn-lg" 
						th:onclick="|location.href='@{/store/items}'|">취소</button>
				</div>
				<div class="d-grid gap-2 col">
					<button type="submit" class="btn btn-secondary btn-lg">상품등록</button>
				</div>
			</div>
		</form>
	</div>
	
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>